@{
    ViewData["Title"] = "Forgot Password Confirmation";
    Layout = "_Home";
}
<div class="row h-100">
    <div class="d-none d-sm-block col-md-6"></div>
    <div class="d-none d-sm-block col-md-1"></div>
    <div class="col-md-3 py-4 bg-light">
        <section class="vertical-center">
            <h4 class="text-dark mb-4">Please check your email to reset your password.</h4>
            <a href="/" class="text-warning">Home</a>
        </section>
    </div>
</div>
