@{
    ViewData["ErrorType"] = "Internal Server Error";
}
<div class="row bg-dark h-100">
    <div class="col-md-12 my-auto text-white text-center">
        <h1>500 | Internal Server Error</h1>
        <p>
            The page is encountering issue. 
            We are trying our best to fix this issue. 
            Please try again later. Apologize for any inconvenience caused.
        </p>
    </div>
</div>
