@{
    ViewData["ErrorType"] = "Page Not Found";
}
    <div class="row bg-dark h-100">
        <div class="col-md-12 my-auto text-white text-center">
            <h1 class="d-block ">404 | Page Not Found</h1>
            <p>The page you are trying to access is not available</p>
        </div>
    </div>
