@model IndexViewModel
@{
    ViewData["Title"] = "Profile";
}

<div class="row pt-4">
    <div class="col-md-6">
        @Html.Partial("_StatusMessage", Model.StatusMessage)
        <p class="font-weight-bold">Profile</p>
        <hr />
        <div class="row">
            <div class="col-md-6">First Name</div>
            <div class="col-md-6">@Model.User.FirstName</div>
        </div>
        <div class="row">
            <div class="col-md-6">Last Name</div>
            <div class="col-md-6">@Model.User.LastName</div>
        </div>
        <div class="row">
            <div class="col-md-6">Email</div>
            <div class="col-md-6">@Model.User.Email</div>
        </div>
        <div class="row my-2">
            <div class="col-md-12">
                <a asp-action="ChangeProfile" class="text-warning">Edit Profile</a>
            </div>
        </div>
        <div class="col-12"></div>
    </div>
</div>

<div class="row mt-4">
    <div class="col-md-6">
        <p class="font-weight-bold">Password</p>
        <hr />
        @await Html.PartialAsync("_ManageNav")
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
