@model LoginViewModel
@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = "Home";
    Layout = "_Home";
}

@if (TempData["ErrorMessage"] != null)
{
    <div class="row">
        <div class="col-md-4">
            <span class="text-danger">
                @TempData["ErrorMessage"];
            </span>
        </div>
    </div>
}

<div class="row h-100">
    <div class="col-md-6 text-center">
        <div class="banner text-white vertical-center display-2">Personal</div>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-3 h-100">
        <section class="vertical-center">
            <form method="post" asp-controller="Home" asp-action="Login">
                <h4 class="text-white mb-4">Log in</h4>
                <div class="form-group">
                    <label class="sr-only" asp-for="Username"></label>
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text bg-white border-0">
                                <span class="fa fa-user"></span>
                            </div>
                        </div>
                        <input asp-for="Username" class="form-control rounded-right bg-white border-0" placeholder="username" />
                    </div>
                    <span asp-validation-for="Username" class="text-danger mt-2"></span>
                </div>
                <div class="form-group">
                    <label class="sr-only" asp-for="Password"></label>
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text bg-white border-0">
                                <span class="fa fa-lock"></span>
                            </div>
                        </div>
                        <input asp-for="Password" class="form-control rounded-right bg-white border-0" placeholder="password" />
                    </div>
                    <span asp-validation-for="Password" class="text-danger mt-2"></span>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label asp-for="RememberMe" class="text-white">
                            <input asp-for="RememberMe" />
                            @Html.DisplayNameFor(m => m.RememberMe)
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-default mr-2 text-white bg-warning">Log in</button>
                    <a class="text-warning" asp-controller="Account" asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]">Register</a>
                </div>
                <div class="form-group">
                    <p>
                        <a asp-controller="Account" asp-action="ForgotPassword" class="text-white">Forgot your password?</a>
                    </p>
                </div>
            </form>
        </section>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}